
<div id ="signup">
    <fieldset>
      <legend>Sign Up</legend>
      <form name='signupForm' novalidate>

        <input type="text" name="firstname" placeholder="Enter Your First Name"
          ng-model="signupCtrl.user.firstname"
          required
          minlength="3"
          ng-maxlength="20">

          <span
            ng-if="(signupForm.firstname.$error.minlength || signupForm.firstname.$error.required) &&
                    signupForm.firstname.$touched">
            First Name must be at least 3 characters long
          </span>
          <span ng-if="signupForm.firstname.$error.maxlength && signupForm.firstname.$touched">
            First Name must not be longer than 20 characters
          </span>
          <br>

        <input type="text" name="lastname" placeholder="Enter Your Last Name"
          ng-model="signupCtrl.user.lastname"
          required
          minlength="3"
          ng-maxlength="20">

          <span
            ng-if="(signupForm.lastname.$error.minlength || signupForm.lastname.$error.required) &&
                    signupForm.lastname.$touched">
            Last Name must be at least 3 characters long
          </span>
          <span ng-if="signupForm.lastname.$error.maxlength && signupForm.lastname.$touched">
            Last Name must not be longer than 20 characters
          </span>
          <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="signupCtrl.user.email"
          required>

          <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signupCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

          <input type="text" name="favmenuitem" placeholder="Enter Your Favorite menu item"
            ng-model="signupCtrl.user.favmenuitem"
            required
            minlength="2"
            ng-maxlength="2">

            <span
              ng-if="(signupForm.favmenuitem.$error.minlength || signupForm.favmenuitem.$error.required) &&
                      signupForm.favmenuitem.$touched">
              Menu Item must be exactly 2 characters long
            </span>
            <span ng-if="signupForm.favmenuitem.$error.maxlength && signupForm.favmenuitem.$touched">
              Menu Item must be exactly 2 characters long
            </span>
            <span ng-if="signupCtrl.menuNotFoundMsg">
              <b>{{signupCtrl.menuNotFoundMsg}}</b>
            </span>
            <br>

        <button
          ng-disabled="signupForm.$invalid"
          ng-click="signupCtrl.submit()">Submit</button>

          <h2 ng-if="signupCtrl.successMsg">
            {{signupCtrl.successMsg}}
          </h2>
      </form>
    </fieldset>
  </div>
